{% load static %}
<!DOCTYPE html>
<html lang="it" dir="ltr">
    <head>
    <meta name="title" content="{% block head_meta_title %}Ufficio Urbanistica{% endblock head_meta_title %}">
    <meta name="description" content="{% block meta_description %}Ufficio Urbanistica | HOME TMP{% endblock meta_description %}" />
    <meta name="keywords" content="gis consulenza tutorial formazione">
    <meta name="author" content="Ufficio Urbanistica">
    <meta http-equiv="Reply-to" content="info@massimilianomoraca.it">
    <meta http-equiv="content-language" content="IT">
    <meta http-equiv="Content-Type" content="text/html; iso-8859-1">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="creation_Date" content="{% block meta_creation_date %}21/09/2022{% endblock meta_creation_date %}">
    <meta name="revisit-after" content="7 days">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block head_title %}Ufficio Urbanistica{% endblock head_title %}</title>
    <link rel="icon" href="{%  static 'images/logo.jpg' %}" type="image/gif">

    <!-- OpenGraph -->
    <meta property="og:title" content="{% block opengraph_title %}Ufficio Urbanistica{% endblock opengraph_title %}">
    <meta name="description" property="og:description" content="{% block opengraph_description %}Ufficio Urbanistica | HOME TMP{% endblock opengraph_description %}">
    <meta property="og:type" content="{% block opengraph_type %}blog{% endblock opengraph_type %}" >
    <meta property="og:image" content="{% block opengraph_image %}{% for domain in domains %}{{ domain }}{% endfor %}{% static 'images/header_default.png' %}{% endblock opengraph_image %}">
    <meta property="og:url" content="{% block opengraph_url %}{% for domain in domains %}{{ domain }}{% endfor %}{% endblock opengraph_url %}">
    <meta name="twitter:creator" content="@maxdragonheart" />
    <meta name="twitter:card" value="summary_large_image">
    <meta name="twitter:title" content="{% block opengraph_title_twitter %}Ufficio Urbanistica{% endblock opengraph_title_twitter %}">
    <meta name="twitter:description" content="{% block opengraph_description_twitter %}Ufficio Urbanistica | HOME TMP{% endblock opengraph_description_twitter %}" />
    <meta name="twitter:image" content="{% block opengraph_image_twitter %}{% for domain in domains %}{{ domain }}{% endfor %}{% static 'images/header_default.png' %}{% endblock opengraph_image_twitter %}" />


    </head>
    <body>
    <h1>HOME TMP</h1>
    <hr>
    {% block page %}{% endblock page %}
    </body>
</html>
