{% extends 'base.html' %}

{% load static %}
{% block page_title %}{{ article.title }} | {{ block.super }}{% endblock page_title %}
{% block header_center_social %}
<span>
        <a class="link-lite-blue-background" href="{{ category.get_absolute_url }}">
            <strong>{{ category.category_name }}</strong>
        </a>
</span>
{% endblock header_center_social %}

{% block container %}

<div class="container my-2">
    <div class="article-header">
        <h1 class="article-title">{{ article.title }}</h1>
        {% if article.is_future %}
          <p><span class="text-primary fw-bold">Futuro</span></p>
        {% elif article.draft %}
          <p><span class="text-danger fw-bold">Bozza</span></p>
        {% endif %}
        <h3>{{ article.publishing_date }}</h3>
    </div>
    <article>{{ article.contents|safe }}</article>
    <div class="">
        {% include './components/download.html' %}
    </div>
</div>


{% endblock container %}