{% extends 'base.html' %}

{% load static %}
{% block page_title %}{{ article.title }} | {{ block.super }}{% endblock page_title %}
{% block header_center_social %}
<span>
        <a class="link-lite-blue-background" href="{{ category.get_absolute_url }}">
            <strong>{{ category.category_name }}</strong>
        </a>
</span>
{% endblock header_center_social %}

{% block container %}

<div class="container my-2">
    <div class="article-header">
        <h1 class="article-title">{{ article.title }}</h1>
    </div>
    <article>{{ article.contents|safe }}</article>
    <div class="">
        <ul class="">
        {% for attachment in article.attachment.all %}
            {% if article.attachment %}
                <li>
                    <a class="link-white-background" href="{{ attachment.file.url }}" title="Scarica {{ attachment }}" target="_blank">{{ attachment }}</a>
                    Tipo: {{ attachment.extension }}, Dimensione: {{ attachment.size }}
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>


{% endblock container %}