{% load static %}
<div class="row">
  <div class="col">
    {% if objects.has_previous %}
    <div class="row">
      <div class="col">
        <p class="text-center"><a class="btn btn-warning btn-sm" role="button" href="?pagina=1">Prima</a></p>
      </div>
      <div class="col">
        <p class="text-center"><a class="btn btn-warning btn-sm" role="button"  href="?pagina={{ objects.previous_page_number }}">Precedente</a></p>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="col">
    <p class="text-center">Pagina<br> {{ objects.number }} di {{ objects.paginator.num_pages }}</p>
  </div>
  <div class="col">
    {% if objects.has_next %}
    <div class="row">
      <div class="col">
        <p class="text-center"><a class="btn btn-warning btn-sm" role="button"  href="?pagina={{ objects.next_page_number }}">Successiva</a></p>
      </div>
      <div class="col">
        <p class="text-center"><a class="btn btn-warning btn-sm" role="button"  href="?pagina={{ objects.paginator.num_pages }}">Ultima</a></p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
