{% extends 'base.html' %}

{% load static %}
{% block page_title %}Open GeoData | {{ block.super }}{% endblock page_title %}

{% block extra_head %}
    {% include './commons/extra_head_base.html' %}
  <link rel="stylesheet"
        href="{% static 'css/opengeodata.css' %}">
{% endblock extra_head %}

{% block container %}

    {% for item in objects %}
    <div class="ogc-card">

        <div class="row">

            <div class="col-sm-2 ogc-card-title">
                <h3>{{ item.title }}</h3>
                <p class="small"><strong>Pubblicato:</strong> {{ item.publishing_date }}</p>
                <p class="small"><strong>Aggiornato:</strong> {{ item.updating_date }}</p>
                <div class="category-container">
                  {#% for category in item.categories.all %#}
                  <a class="category-button" href="{#{ category.get_absolute_url }#}">{#{ category }#}</a>
                  {#% endfor %#}
                </div>
            </div>

            {% if item.complete_url_wms %}
              {% include './components/card/wms.html' %}
            {% endif %}

            {% if item.contents %}
              {% include './components/card/webgis.html' %}
            {% endif %}

        </div>

    </div>
    {% endfor %}

{% endblock container %}