{% extends 'base.html' %}

{% load static %}
{% block page_title %}Open GeoData | {{ block.super }}{% endblock page_title %}

{% block extra_head %}
    {% include './commons/extra_head_base.html' %}
  <link rel="stylesheet"
        href="{% static 'css/opengeodata.css' %}">
{% endblock extra_head %}

{% block container %}

    <div class="row px-2">
        <div class="col-8 text-left">
            <h1>
            {% block opengeodata-head %}Elenco delle risorse{% endblock opengeodata-head %}
            </h1>
        </div>
        <div class="col-4 text-right">
            <div>
                <form class="" action="{% url 'open-geodata-search' %}">
                    <div class="input-group">
                      <div class="form-outline">
                        <input name="q" type="search" id="form1" class="form-control" placeholder="Cerca pubblicazione" aria-label="Search" />
                      </div>
                      <button type="submit" class="btn btn-sm btn-primary my-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                      </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% for item in objects %}
    <div class="ogc-card">

        <div class="row">

            <div class="col-sm-2 ogc-card-title">
                <h3>{{ item.title }}</h3>
                <p class="small"><strong>Pubblicato:</strong> {{ item.publishing_date }}</p>
                <p class="small"><strong>Aggiornato:</strong> {{ item.updating_date }}</p>
                <div class="category-container">
                  {% for category in item.categories.all %}
                  <a class="category-button" href="{{ category.get_absolute_url }}">{{ category }}</a>
                  {% endfor %}
                </div>
            </div>

            {% if item.complete_url_wms %}
              {% include './components/card/wms.html' %}
            {% else %}
                {% include './components/card/webgis.html' %}
            {% endif %}

        </div>

    </div>
    {% endfor %}

    <div class="container mt-3">
        {% include './components/paginantion.html' %}
    </div>

{% endblock container %}