.site-logo {
    max-height: 100px;
}
.card-deck-style {
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}
.card-style {
    background-color: #0059b3;
    padding: 0;
    margin: 2px;
    border: 1px solid #06c;
    border-radius: 3px;
}
.card-body-style {
    padding: 0;
    margin: 0;
}
.card-title-style {
    color: #fff;
    padding: 0;
    margin: 0;
}
.card-content-style {
    padding: 0;
    margin: 0;
}
.card-btn-style {
    padding: 0;
    margin: 0;
}
.link-white-background {
    color: #06c;
}
.link-white-background:hover, .link-lite-blue-background:hover {
    color: red;
    font-weight: bold;
}
.link-lite-blue-background {
    color: #fff;
}